{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if h1 == "All Posts" or h1 == "Following" %}
        <div class="content">
            <h1>{{h1}}</h1>
            {% if following_count %}
                <p>You are following {{ following_count }} person{{ following_count|pluralize }}</p>
            {% endif %}
        </div>
    {% elif h1 == "profile" %}
        <div class="content">
            <div class="user_info">
                <!-- data-visited_id is useful for the js file -->
                {% if user.is_authenticated and user != visited_user %}
                        <button id="follow_btn" class="btn btn-primary">
                        {% if user in visited_user.followers.all %}
                            Unfollow
                        {% else %}
                            Follow
                        {% endif %}
                    </button>
                {% endif %}
                <h1 data-visited_id="{{ visited_user.id }}">{{ visited_user.username }} profile page</h1>
                <div class="connections">
                    <p>Followed by: <span id="followers_count">{{ visited_user.followers.count }}</span> <span id="counter_person">person{{ visited_user.followers.count|pluralize }}</span></p>
                    <p>Following: {{ followings }} person{{ followings|pluralize }}</p>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- First, if logged in, display a form to submit a new post -->
    {% if user.is_authenticated and display_new_post %}
    <div class="post">
        <h2>New Post</h2>
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <textarea class="post-textarea" type="text" name="text" placeholder="Posts are 280 characters max" maxlength="280" required></textarea>
            <br>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </div>
    {% endif %}


    <!-- Display all posts according the current page -->
    {% for post in posts %}
        <div class="post" data-post_id="{{ post.id }}">
            
            {% if post.author == user %}
                <a class="edit-links">Edit</a>
            {% endif %}
            <h2><a href="{% url 'profile' post.author.id %}">{{ post.author.username }}</a></h2>
            <p id="post-content-{{ post.id }}">{{ post.text }}</p>
            {% if post.time_last_update != post.time_creation %}
                <p class="update_time">Modified on {{ post.time_last_update }}</p>
            {% endif%}
            <p class="post_time">Created on {{ post.time_creation }}</p>
            <div class="like-section">
                {% if user.is_authenticated %}
                    <button class="like-btn btn btn-outline-primary btn-sm" data-post_id="{{ post.id }}">
                        {% if user in post.likes.all %}
                        Unlike
                        {% else %}
                        Like
                        {% endif %}
                    </button>
                {% endif %}

                <p class="like-count">
                    ❤️ <span id="counter_{{ post.id }}">{{ post.likes.all|length }}</span>
                </p>
            </div>
        </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}
