{% extends "network/layout.html" %}

{% block body %}
    <div class="content">
        <div class="user_info">
            <h1>{{ visited_user.username }} profile page</h1>
            {% if user.is_authenticated and not is_same_user %}
                <button id="follow_btn" class="btn btn-primary">
                    {% if is_following %}
                        Unfollow
                    {% else %}
                        Follow
                    {% endif %}
                </button>
            {% endif %}
            <div class="connections">
                <p>Followed by: {{ followers }} person(s)</p>
                <p>Following: {{ followings }} person(s)</p>
            </div>
        </div>
        <!-- Display all the user posts -->
        <div>
            {% for post in posts %}
                <div class="post">
                    <h2>{{ post.author.username}}</h2>
                    <a href="#">Edit</a>
                    <p>{{ post.text }}</p>
                    <p class="post_time">{{ post.time_creation }}</p>
                    <!-- POST.LIKES DEVRAIT ETRE LE NOMBRE DE LIKE -->
                    <p>❤️ {% if post.likes %}
                            {{post.likes}}
                        {% else %}
                            0
                        {% endif %}
                    </p>
                    <!-- A COMPLETER  avec comment ???-->
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}